<h1>Angular Child Routes Example</h1> 
<nav> 
    <a routerLink="/parent" routerLinkActive="active">Parent</a> |
    <a routerLink="/parent/child-one" routerLinkActive="active">Child One</a> |  
    <a routerLink="/parent/child-two" routerLinkActive="active">Child Two</a> 
</nav> 
 
<hr/> 
<a routerLink="/admin" routerLinkActive="active">Admin Section</a> | 
<a routerLink="/admin/dashboard" routerLinkActive="active">Admin Dashboard</a> | 
<a routerLink="/admin/users" routerLinkActive="active">Admin Users</a>

<router-outlet></router-outlet>

<input [(ngModel)]="firstname" placeholder="Enter your firstname ">
<p>Enter your first name: {{ firstname }}</p>

<input [(ngModel)]="middlename" placeholder="Enter your middlename ">
<p>Enter your middle name:{{ middlename }}</p>

<input [(ngModel)]="lastname" placeholder="Enter your lastname ">
<p>Enter your lastt name:{{ lastname }}</p>

<input [(ngModel)]="email" placeholder="Enter your email ">
<p>Please enter your email: {{ email }}</p>

<input [(ngModel)]="github" placeholder="Enter your GitHub ">
<p>Please enter your GitHub: {{ github }}</p>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open Modal
</button>


<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">User Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>First Name:</strong> {{ firstname }}</p>
                <p><strong>Middle Name:</strong> {{ middlename }}</p>
                <p><strong>Last Name:</strong> {{ lastname }}</p>
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>GitHub:</strong> {{ github }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>