<div class="card-group">
    <div class="card">
      <img src="https://i1.sndcdn.com/artworks-SN9GQAMCNC25i3VI-lDN2Jw-t1080x1080.jpg" class="mord" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jhian Earon C. Cachin</h5>
        <p class="card-text">I am a student in University of Baguio major in Bachelor of Science in Information Technology.
            I am a second year student and I have enrolled 7 courses for the second semester.
        </p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://preview.redd.it/what-episode-was-rigby-at-his-worst-v0-35xvlbbo0xi91.jpg?width=640&crop=smart&auto=webp&s=8e0b17548cbf6f53a52d352d45f5825921b6027d" class="rigby" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
  </div>
