<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="about-container">
  <div class="card-group">
    <div class="card">
      <div class="avatar-container">
        <img src="https://i1.sndcdn.com/artworks-SN9GQAMCNC25i3VI-lDN2Jw-t1080x1080.jpg" class="avatar" alt="Jhian Avatar">
      </div>
      <div class="card-body">
        <h5 class="card-title">Jhian Earon C. Cachin</h5>
        <p class="card-text">I am a student in the University of Baguio, major in Bachelor of Science in Information Technology.
          I am a second-year student and have enrolled in 7 courses for the second semester.
        </p>
      </div>
    </div>
    
    <div class="card">
      <div class="avatar-container">
        <img src="https://preview.redd.it/what-episode-was-rigby-at-his-worst-v0-35xvlbbo0xi91.jpg?width=640&crop=smart&auto=webp&s=8e0b17548cbf6f53a52d352d45f5825921b6027d" class="avatar" alt="Felvir Avatar">
      </div>
      <div class="card-body">
        <h5 class="card-title">Felvir Shavin U. Bullay</h5>
        <p class="card-text">I am also a student in the University of Baguio, majoring in Bachelor of Science in Information Technology.
          I am a second-year student with 6 enrolled courses for the second semester.
        </p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
      <p>&copy; 2025 Cachin-Bullay IDB2</p>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-envelope"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
  </div>
</footer>

<router-outlet></router-outlet>

